body {
	font-family: 'Inter', Arial;
	margin: 0;
	background-color: #191A23;
	color: #fff;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.wrapper {
	width: 85%;
	margin: 0 auto;
}
